.login {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  /* Different from other form */
  width: 48rem;
  margin: 8rem auto;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* TABLET (≤ 1024px)*/
@media (max-width: 1024px) {
  .login {
    min-height: 100dvh;
  }

  .form {
    width: auto;
  }
}

/*PHONE (≤ 600px) */
@media (max-width: 600px) {
  .login {
    margin: 0;
    padding: 1rem;
  }
}
